/*初始化类*/
@charset "UTF-8";
@import url("style.css");
body,h1,h2,h3,h4,h5,h6,p,dl,dd{margin:0;color: #333;}
ul,ol{margin:0;padding:0;list-style:none;}
img{border:none;vertical-align:top;}
a{text-decoration:none;}
/*设置导航背景颜色和文字颜色*/
.mui-bar-nav{
	background: #6EA9C9;
}
.mui-bar-nav a{
	color:#fff;
}
.mui-bar-nav h1{
	color:#fff;
}
.mui-bar-nav button{
	color:#6EA9C9 !important;
}
.blue{
	color:#6EA9C9;
}
.mui-grid-view.mui-grid-9 .mui-media {
    color: #6EA9C9;
}

/*底部导航文字高亮颜色*/
.mui-bar-tab .mui-tab-item.mui-active{
	color:#6EA9C9;
}
/*body背景颜色*/
.cui-body-bgc-0{
	background: #fff;
}
.cui-body-bgc-0 .mui-content{
	background: #fff;
}

/*列表样式*/
.mui-table-view .mui-table-view-cell a{
	padding:15px 0;
}
.mui-table-view .mui-table-view-cell a .cui-list-text{
	font-size:14px;
	color:#333;
}
.cui-list .mui-table-view .mui-table-view-cell{
	font-size:14px;
	color:#333;
}
/*Cui通用代码*/

/*外边距*/
.cui-margin-none{
	margin:0px !important;
}
.cui-margin-0-auto{
	margin:0px auto;
}
.cui-margin-5{
	margin:5px;
}
.cui-margin-10{
	margin:10px;
}
.cui-margin-15{
	margin:15px;
}
.cui-margin-20{
	margin:20px;
}
.cui-margin-t-10{
	margin-top:10px !important;
}
.cui-margin-t-15{
	margin-top:15px !important;
}
.cui-margin-t-30{
	margin-top:30px !important;
}
.cui-margin-b-15{
	margin-bottom:15px !important;
}
.cui-margin-l-5{
	margin-left: 5px !important;
}
/*内边距*/
.cui-padding-none{
	padding: 0 !important;
}
.cui-padding-5{
	padding: 5px;
}
.cui-padding-10{
	padding: 10px;
}
.cui-padding-15{
	padding: 15px;
}
.cui-padding-20{
	padding: 20px;
}
.cui-padding-t-10{
	padding-top: 10px !important;
}
.cui-padding-t-15{
	padding-top: 15px !important;
}
.cui-padding-r-30{
	padding-right: 30px !important;
}
.cui-padding-l-30{
	padding-left: 30px !important;
}
/*边框*/
.cui-border{
	border:1px solid #f0f0f0;
}
.cui-border-t{
	border-top:1px solid #f0f0f0;
}
.cui-border-r{
	border-right:1px solid gainsboro;
}
.cui-border-b{
	border-bottom:1px solid #f0f0f0;
}
.cui-border-l{
	border-left:1px solid #f0f0f0;
}
.cui-border-lr{
	border-left:1px solid #f0f0f0;
	border-right:1px solid #f0f0f0;
}
.cui-border-tb{
	border-top:1px solid #f0f0f0;
	border-bottom:1px solid #f0f0f0;
}
.cui-border-none{
	border:none !important;
}
.cui-border-r-none{
	border-right:0px !important;
}
.cui-border-b-none{
	border-bottom:0px !important;
}
/*圆角*/
.cui-radius{
	border-radius:100px;
}
.cui-radius-3{
	border-radius:3px;
}
.cui-radius-5{
	border-radius:5px;
}
/*图片大小*/
.cui-img-45{
	width:45px;
	height:45px;
}
.cui-img-50{
	width:50px;
	height:50px;
}
.cui-img-60{
	width:60px;
	height:60px;
}
/*浮动*/
.cui-pull-left{
	float: left;
}
.cui-pull-right{
	float: right;
}
/*清除浮动(需在父级添加该类)*/
.cui-clear{
	overflow: hidden;
}
/*行内、块级*/
.cui-block{
	display: block;
}
.cui-inline{
	display: inline-block;
}
.cui-none{
	display: none;
}
.cui-webkit-box{
	display: -webkit-box;
}
/*百分百宽度*/
.cui-width-h-50{
	width:50% !important;
}
.cui-width-h-60{
	width:60% !important;
}
.cui-width-h-70{
	width:70% !important;
}
.cui-width-h-80{
	width:80% !important;
}
.cui-width-h-90{
	width:90% !important;
}
.cui-width-h-100{
	width:100% !important;
}
/*定位*/
.cui-relative{
	position: relative;
}
.cui-absolute{
	position: absolute;
}
.cui-fixed{
	position: fixed;
}
.cui-top-5{
	top: 5px;
}
.cui-top-10{
	top: 10px;
}
.cui-top-15{
	top: 15px;
}
.cui-bottom-10{
	bottom: 10px;
}
.cui-bottom-15{
	bottom: 15px;
}
.cui-left-10{
	left: 10px;
}
.cui-left-15{
	left: 15px;
}
.cui-right-10{
	right: 10px;
}
.cui-right-15{
	right: 15px;
}
/*文本对齐方式*/
.cui-text-align-l{
	text-align: left;
}
.cui-text-align-c{
	text-align: center;
}
.cui-text-align-r{
	text-align: right;
}
/*文字颜色*/
.cui-g-c0{
	color:#333 !important;
}
.cui-g-c1{
	color:#d8d8d8 !important;
}
.cui-g-c5{
	color:#555 !important;
}
.cui-g-c9{
	color:#999 !important;
}
/*文字大小*/
h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: 400
}
h1 {
	font-size: 18px;
}
h2 {
	font-size: 17px;
}
h3 {
	font-size: 16px;
}
h4 {
	font-size: 16px;
}
h5 {
	font-size: 14px;
	font-weight: normal;
	color: #8f8f94;
}
h6 {
	font-size: 12px;
	font-weight: normal;
	color: #8f8f94;
}
.cui-size-10{
	font-size:10px !important;
}
.cui-size-11{
	font-size:11px !important;
}
.cui-size-12{
	font-size:12px !important;
}
.cui-size-13{
	font-size:13px !important;
}
.cui-size-14{
	font-size:14px !important;
}
.cui-size-15{
	font-size:15px !important;
}
.cui-size-16{
	font-size:16px !important;
}
.cui-size-17{
	font-size:17px !important;
}
.cui-size-18{
	font-size:18px !important;
}
/*背景颜色*/
.cui-g-bgc-1{
	background: #555;
}
.cui-bgc-0{
	background:#FFFFFF !important;
}
.cui-bgc-1{
	background:#FF615F !important;
}
.cui-bgc-2{
	background:#49B5F9 !important;
}
.cui-bgc-3{
	background:#64E176 !important;
}
.cui-bgc-4{
	background:#C485DC !important;
}
.cui-bgc-5{
	background:#FF9C48 !important;
}
.cui-bgc-6{
	background:#FF7197 !important;
}
.cui-bgc-7{
	background:#FFCA46 !important;
}
.cui-bgc-8{
	background:#41E6DF !important;
}
.cui-bgc-9{
	background:#AE6E68 !important;
}
.cui-bgc-10{
	background:#7788F2 !important;
}
.cui-bgc-11{
	background:#FF8924 !important;
}
.cui-bgc-12{
	background:#EA6644 !important;
}
/*前景颜色*/
.cui-c-0{
	color:#fff !important;
}
.cui-c-red{
	color:red !important;
	}
.cui-c-common{
	color: #6EA9C9 !important;
}
.cui-c-green{
	color: #007924 !important;
}
/*边框颜色*/
.cui-bdc-0{
	border-color:#fff !important;
}
.cui-bdc-1{
	border-color:#FF615F !important;
}
.cui-bdc-2{
	border-color:#49B5F9 !important;
}
.cui-bdc-3{
	border-color:#64E176 !important;
}
.cui-bdc-4{
	border-color:#C485DC !important;
}
.cui-bdc-5{
	border-color:#FF9C48 !important;
}
.cui-bdc-6{
	border-color:#FF7197 !important;
}
.cui-bdc-7{
	border-color:#FFCA46 !important;
}
.cui-bdc-8{
	border-color:#41E6DF !important;
}
.cui-bdc-9{
	border-color:#AE6E68 !important;
}
.cui-bdc-10{
	border-color:#7788F2 !important;
}
.cui-bdc-11{
	border-color:#FF8924 !important;
}
.cui-bdc-12{
	border-color:#EA6644 !important;
}
/*-----*/
.cui-content{
	display: none;
}
/*选项卡导航*/
.cui-block-border{
	border:1px solid #555;
}
.mui-bar-nav .cui-tab-nav{
	margin:0 auto;
	height:30px;
	margin-top: 7px;
	border-radius:3px;
	line-height: 30px;
	overflow: hidden;
}
.mui-bar-nav .cui-tab-nav-block a{
	font-size:14px;
	display: inline-block;
	position: relative;
	top:-1px;
}
.mui-bar-nav .cui-tab-nav-block .cui-tab-nav-block-active{
	background: #555555;
	color:#fff;
}
/*选项卡导航两个按钮*/
.mui-bar-nav .cui-tab-cols2{
	width:45%;
}
.mui-bar-nav .cui-tab-cols2 a{
	width:50%;
}
/*选项卡导航三个按钮*/
.mui-bar-nav .cui-tab-cols3{
	width:70%;
}
.mui-bar-nav .cui-tab-cols3 a{
	width:33.3333333333%;
}
.cui-bgcontent{
	display: none;
}
/*选项导航文字*/
.mui-bar-nav .cui-tab-nav-txt{
	padding: 2px 0px;
	display: block;
	height:54px !important;
	margin-top: 3px;
}
.mui-bar-nav .cui-tab-nav-txt a{
	font-size:14px;
	height:38px;
	margin:0px 10px;
	padding-bottom: 13px !important;
}
.mui-bar-nav .cui-tab-nav-txt .cui-tab-nav-txt-active{
	border-bottom:2px solid #FF4400;
	color:#FF4400;
}
/*带搜索导航*/
.mui-bar-nav .cui-search-right-2{
	right:15px;
}
.cui-search div input{
	float: left;
	height:30px;
	background: #E4E4E4;
	border:0px;
	font-weight:normal;
	font-size:14px;
	padding-top: 11px;
}
.cui-search div input::-webkit-input-placeholder,.cui-search input::-webkit-input-placeholder{
	font-weight:normal;
}
.cui-search div span{
	float: left;
	text-align: right;
	display: inline-block;
	height:30px;
	line-height: 30px;
}
.cui-search-div{
	height:30px;
	margin-top:7px;
	background: #E4E4E4;
	border-radius:3px;
	overflow: hidden;
}
/*搜索框右2/3*/
.cui-search-right-2-div{
	padding-right: 15px;
}
.cui-search-right-2-div input{
	width:95%;
}
.cui-search-right-2-div span,.cui-search-middle-div span{
	width:5%;
}
/*搜索框中间1*/
.cui-search-middle-div input{
	width:89%;
}
.cui-search-middle-div span{
	float: right !important;
	position: absolute;
	right:15px;
}
/*搜索框左2/3*/
.mui-bar-nav .cui-search-left-2{
	left:15px;
	right:15px;
}
.cui-search-left-2-div{
	width:88%;
	float: left;
}
.cui-search-left-2 button{
	color:#555555 !important;
	font-size:13px;
	position: relative;
	left:2px;
}
/*图字-搜索-图字*/
.mui-bar-nav .cui-2-icon{
	height:44px;
	position: relative;
	top:-3px;
	font-size:19px !important;
	text-align: center;
}
.mui-bar-nav .cui-2-icon span{
	position: relative;
	top:4px;
	font-size:8px !important;
	display:block;
}
/*搜索页面按钮*/
.cui-class-div{
	margin-top:20px;
}
.cui-class-div-b{
	margin-bottom: 20px;
	padding:10px 15px;
}
.cui-class-div-b h5{
	margin-bottom: 10px;
}
.cui-class-div-b h5 span{
	margin-right:5px;
}
.cui-class-div-b-a button{
	border:1px solid #e2e2e2;
	color:#BCC2D2;
	height:25px;
	line-height: 12px;
	font-size:12px;
	border-radius:20px;
	margin-bottom: 10px;
}
.active-btn-line{
	border-color:#FF4400 !important;
	color:#FF4400 !important;
}
.cui-i-s-i-div{
	margin:7px 0px;
}
/*导航-【logo-图标 图标】*/
.mui-bar .cui-logo-search{
	left:0px;
	text-align: left;
	position: relative;
	top:8px;
}
.mui-bar .cui-logo-search img{
	height:32px;
}
.cui-logo-nav  a{
	margin-left:10px !important;
}
/*宫格*/
.cui-grid  div p{
	line-height: 28px;
	font-size:12px;
}
.cui-grid-div{
	text-align: center;
	padding-top: 15px;
}
.cui-grid-div-cols3{
	width:33.3333333%;
}
.cui-grid-div-cols4{
	width:25%;
}
.cui-grid-icon{
	display: inline-block;
	width:45px;
	height:45px;
	line-height: 45px;
	border-radius:100px;
	color:#fff;
	font-size:23px !important;
}
.cui-grid .mui-table-view-cell::after{
	height:0px;
}
/*搜索*/
.cui-search-alone{
	padding: 15px;
	padding-bottom: 0px;
}
/*列表*/
.cui-list-icon{
	font-size:20px !important;
	position: relative;
	top:2px;
}
.cui-p-padding{
	padding: 10px 15px 0px 15px;
}
.cui-list-3-line .mui-table-view-cell a img{
	height:60px;
	min-width:60px;
}
/*列表中的图标*/
.cui-bicon{
	display: inline-block;
	width:30px;
	height:30px;
	border-radius:100px;
	text-align: center;
	line-height: 32px;
}
.cui-right-icon{
	position: absolute;
	right:15px;
	top:25px;
}
/*按钮*/
.cui-btn{
	color:#fff;
	border:0px;
}
.cui-btn-line{
	background: transparent !important;
}
.cui-btn-block{
	width:100%;
	padding: 13px;
	color:#fff;
	border:0px;
}
.cui-btn-line-block{
	width:100%;
	padding: 10px;
}
 /*栅格容器*/
.cui-flex-col,
.cui-flex-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.cui-flex-col:before,
.cui-flex-row:before,
.cui-flex-col:after,
.cui-flex-row:after {
    content: " ";
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    box-sizing: border-box;
}
.cui-flex-col:after,
.cui-flex-row:after {
  clear: both;
}
.cui-flex-col {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
        flex-direction: row;
}
.cui-flex-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
        flex-direction: column;
}
/*栅格*/
.cui-flex-item-1 {
    float: left;
    width: 8.33333333%;
}
.cui-flex-offset-1 {
    margin-left: 8.33333333%;
}
.cui-flex-item-2 {
    float: left;
    width: 16.66666667%;
}
.cui-flex-offset-2 {
    margin-left: 16.66666667%;
}
.cui-flex-item-3 {
    float: left;
    width: 25%;
}
.cui-flex-offset-3 {
    margin-left: 25%;
}
.cui-flex-item-4 {
    float: left;
    width: 33.33333333%;
}
.cui-flex-offset-4 {
    margin-left: 33.33333333%;
}
.cui-flex-item-5 {
    float: left;
    width: 41.66666667%;
}
.cui-flex-offset-5 {
    margin-left: 41.66666667%;
}
.cui-flex-item-6 {
    float: left;
    width: 50%;
}
.cui-flex-offset-6 {
    margin-left: 50%;
}
.cui-flex-item-7 {
    float: left;
    width: 58.33333333%;
}
.cui-flex-offset-7 {
    margin-left: 58.33333333%;
}
.cui-flex-item-8 {
    float: left;
    width: 66.66666667%;
}
.cui-flex-offset-8 {
    margin-left: 66.66666667%;
}
.cui-flex-item-9 {
    float: left;
    width: 75%;
}
.cui-flex-offset-9 {
    margin-left: 75%;
}
.cui-flex-item-10 {
    float: left;
    width: 83.33333333%;
}
.cui-flex-offset-10 {
    margin-left: 83.33333333%;
}
.cui-flex-order-10 {
    -webkit-box-ordinal-group: 11;
    -webkit-order: 10;
        order: 10;
}
.cui-flex-item-11 {
    float: left;
    width: 91.66666667%;
}
.cui-flex-offset-11 {
    margin-left: 91.66666667%;
}
.cui-flex-item-12 {
    float: left;
    width: 100%;
}
.cui-flex-offset-12 {
    margin-left: 100%;
}
.cui-flex-auto {
    float: left;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
            flex-grow: 1;
}
.cui-flex-between {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
          justify-content: space-between;
}
/*对齐*/
.cui-flex-col.cui-flex-left {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
        justify-content: flex-start;
}
.cui-flex-col.cui-flex-right {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
        justify-content: flex-end;
}
.cui-flex-col.cui-flex-top {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
        align-items: flex-start;
}
.cui-flex-col.cui-flex-bottom {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
        align-items: flex-end;
}
.cui-flex-col.cui-flex-center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
        justify-content: center;
}
.cui-flex-col.cui-flex-middle {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
        align-items: center;
}
.cui-flex-row.cui-flex-left {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
        align-items: flex-start;
}
.cui-flex-row.cui-flex-right {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
        align-items: flex-end;
}
.cui-flex-row.cui-flex-top {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-align: start;
        justify-content: flex-start;
}
.cui-flex-row.cui-flex-bottom {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-align: end;
        justify-content: flex-end;
}
.cui-flex-row.cui-flex-center {
    -webkit-box-align: center;
    -webkit-align-items: center;
        align-items: center;
}
.cui-flex-row.cui-flex-middle {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
            justify-content: center;
}
[class*=cui-flex-item-]{
    position: relative;
}
[class*=cui-flex-auto].cui-flex-left {
    margin-right: auto;
}
[class*=cui-flex-auto].cui-flex-right {
    margin-left: auto;
}
[class*=cui-flex-auto].cui-flex-top {
    margin-bottom: auto;
}
[class*=cui-flex-auto].cui-flex-bottom {
    margin-top: auto;
}
[class*=cui-flex-auto].cui-flex-center {
    margin-left: auto;
    margin-right: auto;
}
[class*=cui-flex-auto].cui-flex-middle {
    margin-top: auto;
    margin-bottom: auto;
}
/*留白行*/
.cui-blank-10{
	height: 10px;
	clear: both;
}
.cui-line{
	width: 100%;
	height: 1px;
	clear: both;
	background:#C8C7CC;
	}

.foot{
    height:40px;
    clear:both;
}